/* CSS Reset by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td 
						{background: transparent;border: 0;margin: 0; padding: 0; vertical-align: baseline;list-style:none}
body 					{line-height: 1;}
h1, h2, h3, h4, h5, h6 	{clear: both;font-weight: normal;}
ol, ul 					{list-style: none;}
blockquote 				{quotes: none;}
blockquote:before, blockquote:after {content: '';content: none;}
del 					{text-decoration: line-through;}
table 					{border-collapse: collapse;	border-spacing: 0;}


body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	}
	
a, a:visited, a:hover {
	color: #006699;
	}

ul.sandbar {
	background-color: #003366;
	font-size:13px;
	font-weight:bold;
	color:#3366cc;
	overflow:hidden;
	background:-moz-linear-gradient(0% 100% 90deg,#6699CC, #003366);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#003366), to(#6699CC));
	background:-o-linear-gradient(top,rgb(0,51,102),rgb(102,153,204));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#6699CC', endColorstr='#003366');/*For IE7-8-9*/ 


}
ul.sandbar li {
	float:left;
	padding:11px 12px;
}

ul.sandbar li#logo {
	padding:0 5px;
	background-color: transparent;
	cursor:pointer;
}


ul.sandbar li a, ul.sandbar li a:visited, ul.sandbar li a:link {
	text-decoration:none;
	color:#99ccff;
}

ul.sandbar li.active {
	background-color:#006699;
	background:-moz-linear-gradient(0% 100% 90deg,#ffffff, #49A5D1);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#49A5D1), to(#ffffff));
	background:-o-linear-gradient(top,rgb(73,165,209),rgb(255,255,255));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#49A5D1', endColorstr='#ffffff');/*For IE7-8-9*/ 
	cursor:pointer;
}

ul.sandbar li.active a{
	color:#006699;
}

ul.sandbar li:hover	{
	background-color:#006699;
	background:-moz-linear-gradient(0% 100% 90deg,#ffffff, #7BA400);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#7BA400), to(#ffffff));
	background:-o-linear-gradient(top,rgb(123,164,0),rgb(255,255,255));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#7BA400', endColorstr='#ffffff');/*For IE7-8-9*/ 
	cursor:pointer;
}

ul.sandbar li#logo:hover {
	background:-moz-linear-gradient(0% 100% 90deg,#6699CC, #003366);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#003366), to(#6699CC));
	background:-o-linear-gradient(top,rgb(0,51,102),rgb(102,153,204));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#6699CC', endColorstr='#003366');/*For IE7-8-9*/ 
}


ul.sandbar li:hover a{
	color:#006699;
}

textarea.smallbox {
        color: #006699;
        width: 750px; 
        height: 200px;
}

p.alert {
        color: #FF0000;
        font-weight: bold;
}



table.sample {
	border-width: 1px;
	border-spacing: 0px;
	border-style: solid;
	border-color: #006699;
	border-collapse: collapse;
	background-color: rgb(250, 240, 230);
}
table.sample th {
	border-width: 1px;
	padding: 5px 7px;
	border-style:inset;
	border-color: #006699;
	background-color: #7BA400;
	background:-moz-linear-gradient(0% 100% 90deg,#ffffff, #7BA400);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#7BA400), to(#ffffff));
	background:-o-linear-gradient(top,rgb(123,164,0),rgb(255,255,255));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#7BA400', endColorstr='#ffffff');/*For IE7-8-9*/ 
	color: #006699;
	font-size:13px;
	font-weight:bold;
}
table.sample td {
	border-width: 1px;
	padding: 5px 7px;
	border-style: inset;
	border-color: #006699;
	background-color: #ffffff;
	font-size:12px;
}

#content {
	padding:15px;
	font-size:12px;
	color:#000;
	background:-moz-linear-gradient(0% 100% 90deg,#efefef, #ffffff);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#efefef));
}

#content  h1 {
	font-size:18px;
	font-weight: bolder;
	color:#006699;
	margin-bottom: 15px;
}


#fatal_error_message {
        background: #069;
        position: absolute;
        width: 800px;
        height: 550px;
        font-weight: bold;
        padding: 20px;
}
#fatal_error_message h1 {
        color: #696;
        line-height: 60px;
        font-size: 30px;
        text-align: center;
}
#fatal_error_message li {
        list-style-type: circle;
        margin: 20px;
}


#lol {
	float: right;
	width: 150px;
	padding:15px;
	font-size:12px;
	font-weight:bold;
	color:#069;
	text-align:center;
	background:-moz-linear-gradient(0% 100% 90deg,#ffffff, #99ccff);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#99ccff), to(#ffffff));
	background:-o-linear-gradient(top,rgb(153,204,255),rgb(255,255,255));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#99ccff', endColorstr='#ffffff');/*For IE7-8-9*/ 	
}
